<form name="sourceForm"
      ng-controller="SourceEditCtrl"
      ng-submit="submit()">

    <div id="navbar">
        <md-whiteframe class="md-whiteframe-z1" layout="row" layout-align="center center" style="height: 100%;">
            编辑作品
        </md-whiteframe>
    </div>

    <div layout="row" layout-align="center">

        <md-card class="form-wrapper"
                 layout="row"
                 layout-md="column"
                 layout-sm="column"
                 flex="80"
                 flex-md="80"
                 flex-sm="95"
                 >

            <canvas id="sourceCover"
                    flex="50"
                    flex-md="100"
                    flex-sm="100"
                    bd-image-selected
                    bd-image-auto-resize
                    selected-file="source.coverFile"></canvas>
            <input type="file" accept="image/*" class="hidden">

            <div layout="column"
                 flex>

                <md-card-content>

                    <md-input-container>
                        <label>作品名称</label>
                        <input type="text" name="name" ng-model="source.name" required>
                        <div ng-messages="sourceForm.name.$error" ng-if="sourceForm.name.$dirty">
                            <div ng-message="required">作品名称不能为空</div>
                        </div>
                    </md-input-container>

                    <md-chips
                        name="alias"
                        ng-model="source.alias"
                        placeholder="作品别名"
                        secondary-placeholder="请输入别名"></md-chips>

                    <md-input-container>
                        <label>作品简介</label>
                        <textarea name="info" ng-model="source.info"></textarea>
                    </md-input-container>

                </md-card-content>

                <span flex></span>

                <md-divider></md-divider>

                <md-card-content
                    layout="row"
                    layout-align="end">

                    <md-button class="md-raised md-primary"
                               flex="15"
                               flex-md="20"
                               flex-sm="30"
                               ng-disabled="submitting || sourceForm.$invalid"
                               ng-click="submit()">提交</md-button>

                </md-card-content>

            </div>

        </md-card>

    </div>

</form>
