<div layout="vertical"
     flex-lg="60"
     flex-md="80"
     offset-lg="20"
     offset-md="10"
     offset-sm="0">

    <md-card ng-repeat="object in objects"
             bd-linkify="/sources/{{ object._id }}/characters">

        <md-list>
            <md-item>
                <md-item-content>

                    <div class="md-tile-left cover cover-medium">
                        <div width="150"
                             height="150"
                             bd-bg-image="{{ object.cover }}"
                             ng-if="object.cover && object.cover.length > 20"></div>

                        <img class="border-common"
                             src="http://placehold.it/150x150"
                             ng-if="!object.cover || object.cover.length < 20">
                    </div>

                    <div class="md-tile-content">
                        <h2 ng-bind="object.name"></h2>
                        <h3 ng-if="object.alias.length !== 0">
                            <span>别名：</span>
                            <span class="margin-right-10"
                                  ng-repeat="alias in object.alias track by $index"
                                  ng-bind="alias"></span>
                        </h3>
                    </div>
                </md-item-content>
            </md-item>
        </md-list>

    </md-card>

    <md-card ng-if="objects.length === 0">
        <p>什么也找不到</p>
    </md-card>
</div>

<div ng-include="'views/partials/pagination.html'"></div>
