<div>
    <div id="navbar">
        <md-whiteframe class="md-whiteframe-z1" layout="row" layout-align="center center" style="height: 100%;">
            <md-tabs flex="80"
                     flex-md="100"
                     flex-sm="100"
                     md-selected="g.tabIndex"
                     >
                <md-tab label="角色" ui-sref="source.characters({sourceId: g.stateParams.sourceId})"></md-tab>
                <md-tab label="作品信息" ui-sref="source.detail({sourceId: g.stateParams.sourceId})"></md-tab>
            </md-tabs>
        </md-whiteframe>
    </div>

    <div ui-view></div>

</div>
