<div>
    <div id="navbar">
        <md-whiteframe class="md-whiteframe-z1" layout="row" layout-align="center center" style="height: 100%;">
            <md-tabs md-selected="selectedIndex"
                     flex="80"
                     flex-md="100"
                     flex-sm="100"
                     >
                <md-tab label="角色" md-active="true"></md-tab>
                <md-tab label="作品信息"></md-tab>
            </md-tabs>
        </md-whiteframe>
    </div>

    <ng-switch on="selectedIndex">
        <div ng-switch-when="0">
            <div ng-include="'views/character/characterList.html'"></div>
        </div>
        <div ng-switch-when="1">
            <div ng-include="'views/source/sourceDetail.html'"></div>
        </div>
    </ng-switch>


</div>
