<div
    layout="row"
    layout-align="center"
    ng-controller="SourceListCtrl">
    
    <div
        layout="row" 
        flex="60"
        flex-sm="100"
        infinite-scroll="getObjects()"
        infinite-scroll-disabled="q.isQuerying || q.noMoreData"
        infinite-scroll-distance='1'
        infinite-scroll-container="'#content-body-wrapper'">

        <div layout="column" layout-fill>
            
            <div layout="row"
                 layout-align="space-between"
                 flex="60"
                 flex-sm="100"
                 layout-wrap>

                <md-card 
                    class="source-wrapper"
                    flex="45"
                    flex-sm="100"
                    ng-repeat="object in objects">

                    <div class="preview-img-wrapper"
                         ng-click="goToCharactersPage(object._id)">
                        <img src="http://placehold.it/500x500" alt="{{ object.name }}">
                    </div>

                    <md-divider></md-divider>

                    <md-card-content>
                        <h4 ng-bind="object.name"
                            ng-click="goToCharactersPage(object._id)"></h4>
                        <p>
                            Contribute by <a href="#">Scarlex</a>
                        </p>
                    </md-card-content>

                </md-card>
 
            </div>

            <div bd-tracker></div>
        </div>
        
    </div>

</div>

