<div layout="vertical"
     flex-lg="60"
     flex-md="80"
     offset-lg="20"
     offset-md="10"
     offset-sm="0">

    <material-card layout="vertical">

        <form role="form"
              name="sourceEditForm"
              novalidate
              ng-submit="submit()">

            <h3>编辑作品</h3>

            <material-input-group class="material-input-group-theme-light" layout="horizontal">

                <p flex="30">作品名称</p>

                <material-input type="text" 
                                name="name"
                                id="name"
                                ng-model="source.name"    
                                required
                                flex="70"
                                inline-block
                                placeholder="请输入作品名称"></material-input>

            </material-input-group>


            <material-input-group class="material-input-group-theme-light" layout="horizontal">

                <p flex="30">作品信息</p>

                <material-input type="text"
                                name="info"
                                id="info"
                                ng-model="source.info"
                                required
                                flex="70"
                                inline-block
                                placeholder="请输入作品信息"></material-input>

            </material-input-group>

            <material-input-group class="material-input-group-theme-light" layout="horizontal">

                <p flex="30">作品别名</p>

                <div layout="vertical" flex="70">
                    
                    <div class="material-input-with-addon right-addon"
                         ng-repeat="object in source.alias track by $index">

                        <p class="right-addon"
                           ng-click="removeAlias($event, $index)"
                           ng-if="$index !== 0">x</p>

                        <material-input type="text"
                                        name="alias"
                                        id="alias"
                                        ng-model="source.alias[$index]"
                                        required
                                        layout-fill
                                        placeholder="请输入作品别名"></material-input>
                    </div>
                </div>

            </material-input-group>

            <div layout="horizontal" layout-align="end">
                <material-button ng-click="addAlias($event)">添加别名</material-button>
                <material-button type="submit">提交</material-button>
            </div>

        </form>

    </material-card>

</div>
