<div layout="vertical"
     flex-lg="60"
     flex-md="80"
     offset-lg="20"
     offset-md="10"
     offset-sm="0"
     ng-controller="CharacterCtrl">

    <material-card>
        <material-list>
            <material-item>
                <material-item-content>
                    
                   <div class="material-tile-left">
                        <img class="avatar avatar-medium"
                             ng-if="g.currentCharacter.avatar && g.currentCharacter.avatar.length > 20"
                             ng-src="{{ g.currentCharacter.avatar }}">

                        <img class="avatar avatar-medium"
                             ng-if="!g.currentCharacter.avatar || g.currentCharacter.avatar.length < 20"
                             ng-src="http://placehold.it/100x100">
                    </div>

                    <div class="material-tile-content">
                        <h2 ng-bind="g.currentCharacter.name"></h2>
                        <h3 ng-if="g.currentCharacter.alias.length !== 0">
                            <span>别名：</span>
                            <span class="margin-right-10"
                                  ng-repeat="alias in g.currentCharacter.alias track by $index"
                                  ng-bind="alias"></span>
                        </h3>
                    </div>

                </material-item-content>
 
            </material-item>
        </material-list>
    </material-card>
</div>
