<div layout="column"
     flex-lg="60"
     flex-md="80"
     offset-lg="20"
     offset-md="10"
     offset-sm="0"
     ng-controller="CharacterCtrl">

    <md-card>
        <md-list>
            <md-item>
                <md-item-content>
                    
                    <div class="md-tile-left avatar avatar-medium">

                        <div width="100"
                             height="100"
                             bd-bg-image="{{ g.currentCharacter.avatar }}"
                             ng-if="g.currentCharacter.avatar && g.currentCharacter.avatar.length > 20"></div>

                        <img class="border-common"
                             src="http://placehold.it/100x100"
                             ng-if="!g.currentCharacter.avatar || g.currentCharacter.avatar.length < 20" />

                    </div>

                    <div class="md-tile-content">
                        <h2 ng-bind="g.currentCharacter.name"></h2>
                        <h3 ng-if="g.currentCharacter.alias.length !== 0">
                            <span>别名：</span>
                            <span class="margin-right-10"
                                  ng-repeat="alias in g.currentCharacter.alias track by $index"
                                  ng-bind="alias"></span>
                        </h3>
                    </div>

                </md-item-content>
 
            </md-item>
        </md-list>
    </md-card>
</div>
