<div>
    <div ng-repeat="object in objects">
        <div class="list-main-wrapper">

            <div class="list-main-header">
                <img class="pull-right"
                     src="http://placehold.it/50x50" />

                 <a ng-href="/characters/{{ object._id }}/quotes"
                    ng-bind="object.name"></a>
            </div>
        </div>
    </div>

    <div class="list-partial">
        <a class="pull-left"
           ng-if="hasPrevPage"
           ng-click="prevPage()">上一页</a>

        <a class="pull-right"
           ng-if="hasNextPage"
           ng-click="nextPage()">下一页</a>
    </div>
</div>
