<div>
    <div ng-repeat="object in objects">
        <div class="list-wrapper">

            <div class="image-wrapper image-small pull-left margin-right-M">
                <img src="http://placehold.it/50x50" />
            </div>

            <div class="list-main-wrapper">
                    
                <div class="list-main-header">


                    <div class="list-main-header">

                        <div class="list-main-header-title">
                            <a ng-bind="object.name"
                               ng-href="/characters/{{ object._id }}/quotes"></a>
                        </div>

                        <div class="list-main-header-subtitle"
                             ng-if="object.alias.length !== 0">
                            <span>别名:</span>
                            <span ng-repeat="alias in object.alias track by $index"
                                  ng-bind="alias"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="list-partial">
        <a class="pull-left"
           ng-if="hasPrevPage"
           ng-click="prevPage()">上一页</a>

        <a class="pull-right"
           ng-if="hasNextPage"
           ng-click="nextPage()">下一页</a>
    </div>
</div>
