<div layout="row" layout-align="center">

    <div layout="column" flex="60">

        <md-card class="character-wrapper" layout="row" layout-align="center center">
            <div class="character-avatar-wrapper">
                <img ng-src="http://placehold.it/100x100" class="face">
            </div>

            <div class="character-info">
                <h3>Brunch this weekend?</h3>
                <h4>Min Li Chan</h4>
                <p>I'll be in your neighborhood doing errands</p>
            </div>
        </md-card>

        <md-card class="character-wrapper" layout="row" layout-align="center center">
            <div class="character-avatar-wrapper">
                <img ng-src="http://placehold.it/100x100" class="face">
            </div>

            <div class="character-info">
                <h3>Brunch this weekend?</h3>
                <h4>Min Li Chan</h4>
                <p>I'll be in your neighborhood doing errands</p>
            </div>
        </md-card>

        <md-card class="character-wrapper" layout="row" layout-align="center center">
            <div class="character-avatar-wrapper">
                <img ng-src="http://placehold.it/100x100" class="face">
            </div>

            <div class="character-info">
                <h3>Brunch this weekend?</h3>
                <h4>Min Li Chan</h4>
                <p>I'll be in your neighborhood doing errands</p>
            </div>
        </md-card>

        <md-card class="character-wrapper" layout="row" layout-align="center center">
            <div class="character-avatar-wrapper">
                <img ng-src="http://placehold.it/100x100" class="face">
            </div>

            <div class="character-info">
                <h3>Brunch this weekend?</h3>
                <h4>Min Li Chan</h4>
                <p>I'll be in your neighborhood doing errands</p>
            </div>
        </md-card>

        <md-card class="character-wrapper" layout="row" layout-align="center center">
            <div class="character-avatar-wrapper">
                <img ng-src="http://placehold.it/100x100" class="face">
            </div>

            <div class="character-info">
                <h3>Brunch this weekend?</h3>
                <h4>Min Li Chan</h4>
                <p>I'll be in your neighborhood doing errands</p>
            </div>
        </md-card>




    </div>

</div>
