<div class="list-wrapper border-top clearfix">

    <div class="image-wrapper image-middle pull-left margin-right-M">
        <img src="http://placehold.it/100x100" />
    </div>

    <div class="list-main-wrapper">
        
        <div class="list-main-header">

            <div class="list-main-header-title">
                <a ng-bind="g.currentCharacter.name"
                   ng-href="/characters/{{ g.currentCharacter._id }}/quotes"></a>

                <a ng-href="/characters/{{ g.currentCharacter._id }}/edit"
                   ng-if="session.isAuthenticated()">编辑角色</a>
            </div>

            <div class="list-main-header-subtitle"
                 ng-if="g.currentCharacter.alias.length !== 0">
                <span>别名:</span>
                <span ng-repeat="alias in g.currentCharacter.alias track by $index"
                      ng-bind="alias"></span>
            </div>
        </div>

        <div class="list-main-body">
            <p ng-bind="g.currentCharacter.info"></p>
        </div>
    </div>
</div>
