<div layout="row"
     layout-align="center"
     ng-controller="CharacterCtrl"
     >
    <md-card flex="80"
             flex-md="95"
             flex-sm="95">

        <md-card-content layout="row"
                         layout-align="center center">
            <img src="http://placehold.it/50x50"
                 class="avatar avatar-lg mg-r"
                 />
            <p class="md-title"
               ng-bind="character.name"></p>

        </md-card-content>

        <md-divider></md-divider>

        <md-card-content>

            <h1 class="md-title">角色别名</h1>
            <span class="my-chip"
                  ng-if="character.alias.length > 0"
                  ng-repeat="alias in character.alias"
                  ng-bind="alias"></span>
            <p ng-if="character.alias.length === 0"
               class="md-body-1">无</p>

            <h1 class="md-title">角色简介</h1>
            <p class="md-body-1"
               ng-bind-template="{{ character.info.length > 0 ? character.info : '无' }}"></p>

            <h1 class="md-title">贡献者</h1>
            <p class="md-body-1">Scarlex 2015-11-11</p>

        </md-card-content>

    </md-card>

    <md-button id="fab"
               class="md-fab" aria-label="Edit Character"
               ng-href="/characters/{{ character._id }}/edit"
               ng-if="session.isAuthenticated() && session.currentUser._id === character.contributor._id"
               >
        <md-tooltip md-direction="left">编辑角色</md-tooltip>
        <md-icon class="zmdi zmdi-edit zmdi-hc-lg"></md-icon>
    </md-button>

</div>
