<div layout="vertical"
     flex-lg="60"
     flex-md="80"
     offset-lg="20"
     offset-md="10"
     offset-sm="0">

    <material-card layout="vertical">

        <form role="form"
              name="sourceEditForm"
              novalidate
              ng-submit="submit()">

            <h3>编辑角色</h3>

            <material-input-group class="material-input-group-theme-light"
                                  layout="horizontal">

                <p flex="30">角色名称</p>

                <material-input type="text" 
                                name="name"
                                id="name"
                                ng-model="character.name"    
                                required
                                flex="70"
                                inline-block
                                placeholder="请输入角色名称"></material-input>

            </material-input-group>


            <material-input-group class="material-input-group-theme-light" 
                                  layout="horizontal">

                <p flex="30">角色信息</p>

                <material-input type="text"
                                name="info"
                                id="info"
                                ng-model="character.info"
                                required
                                flex="70"
                                inline-block
                                placeholder="请输入角色信息"></material-input>

            </material-input-group>

            <material-input-group class="material-input-group-theme-light" layout="horizontal">

                <p flex="30">角色所属作品</p>

                <div class="material-input-with-addon left-addon" flex="70">

                    <p class="left-addon">q</p>

                    <material-input type="hidden"
                                    name="sourceId"
                                    id="sourceId"
                                    ng-model="character.sourceId"
                                    bd-auto-complete="id"></material-input>
                    
                    <material-input type="text"
                                    name="sourceName"
                                    id="sourceName"
                                    ng-model="character.sourceName"
                                    ng-keydown="keydownSelect($event)"
                                    required
                                    layout-fill
                                    bd-search
                                    bd-search-type="source"
                                    bd-select-searching
                                    bd-auto-complete="name"
                                    placeholder="请输入角色所属作品名字或别名"></material-input>

                    <material-list class="material-list-dropdown"
                                   layout-fill
                                   table
                                   ng-show="isListShow">

                        <material-item ng-repeat="result in results | limitTo: 3">
                            <div class="material-tile-content"
                                 ng-click="clickSelect(result)"
                                 object-id="{{ result._id }}">
                                <p ng-bind="result.name"></p>
                            </div>
                        </material-item>

                    </material-list>

                </div>

            </material-input-group>

            <material-input-group class="material-input-group-theme-light" layout="horizontal">

                <p flex="30">角色别名</p>

                <div layout="vertical" flex="70">
                    
                    <div class="material-input-with-addon right-addon"
                         ng-repeat="object in character.alias track by $index">

                        <p class="right-addon"
                           ng-click="removeAlias($event, $index)"
                           ng-if="$index !== 0">x</p>

                        <material-input type="text"
                                        name="alias"
                                        id="alias"
                                        ng-model="character.alias[$index]"
                                        required
                                        layout-fill
                                        placeholder="请输入角色别名"></material-input>

                    </div>
                </div>

            </material-input-group>

            <div layout="horizontal" layout-align="end">
                <material-button ng-click="addAlias($event)">添加别名</material-button>
                <material-button type="submit">提交</material-button>
            </div>

        </form>

    </material-card>

</div>
