* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: url(../images/main-bg.jpg) no-repeat;
    background-attachment: fixed;
}

a, a:hover, a:visited {
    color: @color-black;
    text-decoration: none;
}

a, button {
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}
