<div>
    <div ng-repeat="object in objects">
        <div class="list-main-wrapper">
            <div ng-if="g.searchType === 'character'">
                <div class="list-main-header">
                    <img class="pull-right"
                         src="http://placehold.it/50x50" />
                    <a ng-bind="object.name"
                       ng-href="/characters/{{ object._id }}/quotes"></a>
                </div>
            </div>

            <div ng-if="g.searchType === 'source'">
                <a ng-bind="object.name"
                   ng-href="/sources/{{ object._id }}/characters"></a>
            </div>
        </div>
    </div>
</div>
