<div layout="vertical"
     flex-lg="60"
     flex-md="80"
     offset-lg="20"
     offset-md="10"
     offset-sm="0">

    <md-card layout="vertical">

        <form role="form"
              ng-submit="getResult()"
              ng-controller="SearchCtrl">

            <h3>搜索</h3>

            <div layout="horizontal">

                <p flex="30">搜索类型</p>

                <md-radio-group ng-model="g.searchType"
                                flex="70">

                    <md-radio-button value="character"
                                     aria-label="character"
                                     inline-block>角色</md-radio-button>

                    <md-radio-button value="source"
                                     aria-label="source"
                                     inline-block>作品</md-radio-button>

                </md-radio-group>

            </div>

            <md-input-group class="md-input-group-theme-light" layout="horizontal">

                <p flex="30">搜索内容</p>

                <md-input type="text" 
                          ng-model="g.searchKeyword"
                          flex="70"
                          inline-block
                          placeholder="请输入你想搜索的内容"></md-input>
            </md-input-group>

            <span block style="height: 20px;"></span>

        </form>

    </md-card>

</div>
