md-card {
    margin-top: 20px;
    margin-bottom: 20px;
    background: @color-white;

    &.source-wrapper {

        h4, p {
            margin: 0;
        }

        a {
            color: rgb(63,81,181);
        }

    }

    &.character-wrapper {

        .character-info {
            margin: 0;
        }

        .face {
            border-radius: 25px;
            border: 1px solid #ddd;
            margin-right: 16px;
            width: 50px;
        }
    }

    &.quote-wrapper, &.quote-detail-wrapper {

        .face {
            border-radius: 16px;
            border: 1px solid #ddd;
            width: 32px;
            margin-right: 10px;
        }

    }

    &.quote-detail-wrapper {
        width: 100%;

        .related-characters, .reference {
            padding: 16px;

            h3 {
                margin: 0 0 1em;
                color: @color-gray;
            }
        }

        .related-characters {
            background-color: #f0eeeb;
        }

        .reference {
            h3 {
                margin: 0;
            }
        }

        .contributor {
            height: 52px;
            padding: 10px 16px;
            line-height: 32px;

            img {
                vertical-align: bottom;
            }

        }

    }
}
