.image-wrapper {
    position: relative;

    .upload-status-wrapper {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        display: table;
        background: rgba(0, 0, 0, 0.4);

        &.image-small.image-rounded {
            border-radius: @image-size-small / 2;
        }

        &.image-middle.image-rounded {
            border-radius: @image-size-middle / 2;
        }

        &.image-large.image-rounded {
            border-radius: @image-size-large / 2;
        }

        p {
            color: @color-white;
            display: table-cell;
            vertical-align: middle;
        }
    }

    &.image-small {
        width: @image-size-small;
        height: @image-size-small;

        img.image-rounded {
            border-radius: @image-size-small / 2;
        }
    }

    &.image-middle {
        width: @image-size-middle;
        height: @image-size-middle;

        img.image-rounded {
            border-radius: @image-size-middle / 2;
        }
    }

    &.image-large {
        width: @image-size-large;
        height: @image-size-large;

        img.image-rounded {
            border-radius: @image-size-large / 2;
        }
    }
}
