.nav-wrapper {
    width: @nav-width;
    height: 100%;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    background: transparent;
}

.main-wrapper {
    width: @main-width;
    min-height: 100%;
    margin-left: @nav-width;
    padding: 60px @main-width * 0.05;
    background: @color-white;
}
