.pull-left {
    float: left;
}

.pull-right {
    float: right
}

.border-top {
    border-top: @border-common;
}

.border-bottom {
    border-bottom: @border-common;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
