<md-fab-speed-dial id="fab"
                   md-direction="up"
                   class="md-scale"
                   >

    <md-fab-trigger>
        <md-button aria-label="menu"
                   class="md-fab">
            <md-icon class="zmdi zmdi-plus zmdi-hc-lg"></md-icon>
        </md-button>
    </md-fab-trigger>

    <md-fab-actions>

        <md-button aria-label="Add Source"
                   class="md-fab md-raised md-mini"
                   ui-sref="sourceNew">
            <md-tooltip md-direction="left" md-delay="0">添加作品</md-tooltip>
            <md-icon class="zmdi zmdi-view-list zmdi-hc-lg"
                     style="color: #777"></md-icon>
        </md-button>

        <md-button aria-label="Add Character"
                   class="md-fab md-raised md-mini"
                   ui-sref="characterNew">
            <md-tooltip md-direction="left" md-delay="0">添加角色</md-tooltip>
            <md-icon class="zmdi zmdi-account zmdi-hc-lg"
                     style="color: #777"></md-icon>
        </md-button>

        <md-button aria-label="Add Quote"
                   class="md-fab md-raised md-mini"
                   ui-sref="quoteNew">
            <md-tooltip md-direction="left" md-delay="0">添加语录</md-tooltip>
            <md-icon class="zmdi zmdi-comment-more zmdi-hc-lg"
                     style="color: #777"></md-icon>
        </md-button>

    </md-fab-actions>

</md-fab-speed-dial>
