<div ng-controller="NavCtrl">

    <div layout="horizontal"
         id="header">
        <a ng-click="toggleLeft()" style="position: absolute; top: 20px; left: 20px; z-index: 3">123</a>

        <md-toolbar class="md-theme-light md-tall"
                    bd-fixed-header>
            <span flex></span>

            <div offset="15"
                 offset-sm="10"
                 offset-md="10"
                 offset-lg="10">
                <h1>
                    <a href="/">Aniquo</a>
                </h1>
            </div>
        </md-toolbar>
    </div>

    <div ng-include="'/views/partials/layout/nav.html'"></div>

</div>
