<md-toolbar>
  <div class="md-toolbar-tools pd-h-0"
       ng-controller="AuthCtrl">
        <span flex="10"
              flex-md="0"
              flex-sm="0"></span>
        <md-button class="md-icon-button"
                   aria-label="Menu"
                   ng-click="toggleSidenav()">
            <md-icon class="zmdi zmdi-menu zmdi-hc-2x"></md-icon>
        </md-button>
        <a href="/">Aniquo</a>

        <span flex></span>

        <md-button class="md-icon-button"
                   aria-label="Search"
                   ui-sref="search"
                   ng-if="g.currentState !== 'search'">
            <md-icon class="zmdi zmdi-search zmdi-hc-2x"></md-icon>
        </md-button>

        <span flex="10"
              flex-md="0"
              flex-sm="0"></span>

    </div>
</md-toolbar>
