<nav class="nav-wrapper">
    <a class="logo"
       href="/">L</a>

    <ul class="nav-action-wrapper"
        ng-if="session.isAuthenticated()">
        <li class="nav-action">
            <a href="/user/settings"
               ng-bind="session.currentUser.username"></a>
        </li>
        <li class="nav-action">
            <a href="/sources/new">添加新作品</a>
        </li>
        <li class="nav-action">
            <a href="/characters/new">添加新角色</a>
        </li>
        <li class="nav-action">
            <a ng-href="/quotes/new">添加新语录</a>
        </li>
    </ul>

    <ul class="nav-action-wrapper">
        <li class="nav-action">
            <a ng-href="/login"
               ng-if="!session.isAuthenticated()">登录</a>
        </li>
        <li class="nav-action">
            <a ng-href="/signup"
               ng-if="!session.isAuthenticated()">注册</a>
        </li>
        <li class="nav-action">
            <a ng-click="session.logout()"
               ng-if="session.isAuthenticated()">注销</a>
        </li>
    </ul>
</nav>
