<div>
    <div class="list-partial border-top">
        注册
    </div>


    <form class="list-main-wrapper"
          role="form"
          name="signupForm"
          ng-submit="signup()"
          ng-controller="AuthCtrl">

        <input class="input-control" 
               type="text"
               name="username"
               id="username"
               ng-model="user.username"
               required
               placeholder="请输入用户名"/>

        <input class="input-control margin-top-L" 
               type="password"
               name="password"
               id="password"
               ng-model="user.password"
               required
               placeholder="请输入密码"/>

        <input class="input-control margin-top-L" 
               type="password"
               name="password2"
               id="password2"
               ng-model="user.password2"
               required
               placeholder="请确认密码"/>

        <button class="btn margin-top-L"
                type="submit"
                ng-disabled="!signupForm.$valid || user.password !== user.password2">提交</button>
    </form>
</div>
