<div>
    <div class="list-partial border-top">
        登录
    </div>

    <div class="list-main-wrapper">
        <form role="form"
              name="loginForm"
              ng-submit="login()"
              ng-controller="AuthCtrl">

        <input class="input-control" 
               type="text"
               name="username"
               id="username"
               ng-model="user.username"
               required
               placeholder="请输入用户名"/>

        <input class="input-control margin-top-L" 
               type="password"
               name="password"
               id="password"
               ng-model="user.password"
               required
               placeholder="请输入密码"/>

        <button class="btn margin-top-L"
                type="submit"
                ng-disabled="!loginForm.$valid">提交</button>
    </form>
    </div>
</div>
