<div layout="row" layout-align="center">
    
    <md-card class="form-wrapper" flex="60">
          
        <h3>Sign Up</h3>

        <md-divider></md-divider>

        <div class="form-body">

            <md-input-container>
                <label>Username</label>
                <input type="text">
            </md-input-container>

            <md-input-container>
                <label>Password</label>
                <input type="password">
            </md-input-container>

            <md-input-container>
                <label>Password Confirm</label>
                <input type="password">
            </md-input-container>

            <md-input-container>
                <label>Promo Code</label>
                <input type="text">
            </md-input-container>

        </div>

        <md-divider></md-divider>

        <div class="form-body" layout="row" layout-align="end" layout-margin>
           <md-button class="md-raised" flex="15">Reset</md-button> 
           <md-button class="md-raised md-primary" flex="15">Sign Up</md-button> 
        </div>

    </md-card>
</div>
