<div ng-controller="UserSettingsCtrl">

    <div id="navbar">
        <md-whiteframe class="md-whiteframe-z1" layout="row" layout-align="center center" style="height: 100%;">
            编辑个人资料
        </md-whiteframe>
    </div>

    <div layout="row" layout-align="center">

        <md-card class="form-wrapper"
                 flex="60"
                 flex-md="80"
                 flex-sm="95"
                 >

            <md-card-content layout="column">
                <div layout="row"
                     layout-align="center">
                    <canvas id="userAvatar"
                            class="avatar avatar-lg"
                            bd-image-selected
                            selected-file="user.avatarFile"
                            layout-fill></canvas>
                    <input type="file" accept="image/*" class="hidden">
                </div>

                <h1 class="md-title text-center"
                    ng-bind="user.email"></h1>
            </md-card-content>

            <md-divider></md-divider>

            <md-card-content>

                <md-input-container>
                    <label>用户名</label>
                    <input type="text"
                           name="username"
                           ng-model="user.username">
                </md-input-container>

                <md-input-container>
                    <label>昵称</label>
                    <input type="text"
                           name="nickname"
                           ng-model="user.nickname">
                </md-input-container>

                <md-input-container>
                    <label>个人网站</label>
                    <input type="text"
                           name="site"
                           ng-model="user.site">
                </md-input-container>

                <md-input-container>
                    <label>个人简介</label>
                    <textarea name="info"
                              ng-model="user.info"></textarea>
                </md-input-container>

            </md-card-content>

            <md-divider></md-divider>

            <md-card-content
                layout="row"
                layout-align="end">
                <md-button class="md-raised" flex="15" flex-sm="30" flex-md="20" ng-click="reset()">Reset</md-button>
                <md-button class="md-raised md-primary" flex="15" flex-sm="30" flex-md="20" ng-click="updateProfile()">Submit</md-button>

            </md-card-content>

        </md-card>

    </div>

</div>
