<div layout="vertical"
     flex-lg="60"
     flex-md="80"
     offset-lg="20"
     offset-md="10"
     offset-sm="0">

    <md-card layout="vertical">

        <form role="form"
              name="signupForm"
              novalidate
              ng-submit="signup()"
              ng-controller="AuthCtrl">

            <h3>注册</h3>

            <md-input-group class="md-input-group-theme-light" layout="horizontal">

                <p flex="30">用户名</p>

                <md-input type="text" 
                          name="username"
                          id="username"
                          ng-model="user.username"    
                          required
                          flex="70"
                          inline-block
                          placeholder="请输入用户名"></md-input>

            </md-input-group>


            <md-input-group class="md-input-group-theme-light" layout="horizontal">

                <p flex="30">密码</p>

                <md-input type="password"
                          name="password"
                          id="password"
                          ng-model="user.password"
                          required
                          flex="70"
                          inline-block
                          placeholder="请输入密码"></md-input>

            </md-input-group>

            <md-input-group class="md-input-group-theme-light" layout="horizontal">

                <p flex="30">确认密码</p>

                <md-input type="password"
                          name="password2"
                          id="password2"
                          ng-model="user.password2"
                          required
                          flex="70"
                          inline-block
                          placeholder="请确认密码"></md-input>

            </md-input-group>

            <div layout="horizontal" layout-align="end">
                <md-button type="submit">注册</md-button>
            </div>

        </form>

    </md-card>

</div>
