<div>

    <material-tabs selected="selectedIndex" center>
          <material-tab label="作品"
                        bd-linkify="/user/contribution/sources"></material-tab>
          <material-tab label="角色"
                        bd-linkify="/user/contribution/characters"></material-tab>
          <material-tab label="语录"
                        bd-linkify="/user/contribution/quotes"></material-tab>
    </material-tabs>

    <div layout="vertical">

        <!-- sources -->
        <div ng-if="selectedIndex === 0">
            <div ng-include="'views/source/sourceList.html'"></div>
        </div>

        <!-- characters -->
        <div ng-if="selectedIndex === 1">
            <div ng-include="'views/character/characterList.html'"></div>
        </div>

        <!-- quotes -->
        <div ng-if="selectedIndex === 2">
            <div ng-include="'views/quote/quoteList.html'"></div>
        </div>
    </div>

</div>
