<div layout="vertical"
     flex-lg="60"
     flex-md="80"
     offset-lg="20"
     offset-md="10"
     offset-sm="0">

    <material-card layout="vertical">

        <form role="form"
              name="loginForm"
              ng-submit="login()"
              ng-controller="AuthCtrl">

            <h3>登录</h3>

            <material-input-group class="material-input-group-theme-light" layout="horizontal">

                <p flex="30">用户名</p>

                <material-input type="text" 
                                name="username"
                                id="username"
                                ng-model="user.username"    
                                required
                                flex="70"
                                inline-block
                                placeholder="请输入用户名"></material-input>

            </material-input-group>


            <material-input-group class="material-input-group-theme-light" layout="horizontal">

                <p flex="30">密码</p>

                <material-input type="password"
                                name="password"
                                id="password"
                                ng-model="user.password"
                                required
                                flex="70"
                                inline-block
                                placeholder="请输入用户名"></material-input>

            </material-input-group>

            <div layout="horizontal" layout-align="end">
                <material-button type="submit">登录</material-button>
            </div>

        </form>

    </material-card>

</div>
