<div layout="vertical"
     id="contentBody"
     flex-lg="60"
     flex-md="80"
     offset-lg="20"
     offset-md="10"
     offset-sm="0">

    <md-card layout="vertical">
        <md-list>
            <md-item>
                <md-item-content>
                    
                   <div class="md-tile-left avatar avatar-medium">

                        <div width="100"
                             height="100"
                             bd-bg-image="{{ quote.character.avatar }}"
                             ng-if="quote.character.avatar && quote.character.avatar.length > 20"></div>

                        <img class="border-common"
                             src="http://placehold.it/100x100"
                             ng-if="!quote.character.avatar || quote.character.avatar.length < 20" />

                    </div>

                    <div class="md-tile-content">
                        <h2 ng-bind="quote.character.name"></h2>
                        <h3 ng-if="quote.character.alias.length !== 0">
                            <span>别名：</span>
                            <span class="margin-right-10"
                                  ng-repeat="alias in quote.character.alias track by $index"
                                  ng-bind="alias"></span>
                        </h3>
                    </div>

                </md-item-content>
 
            </md-item>
        </md-list>

        <md-divider></md-divider>

        <div layout="horizontal">
            <div marked="quote.quote"></div>
        </div>

        <div layout="horizontal" layout-align="end">
            <p class="margin-top-0"
               ng-bind-template="—— 出自 {{ quote.reference }}"></p>
        </div>

        <div layout="horizontal" layout-align="center"
             ng-if="quote.scene && quote.scene.length > 20">

            <div bd-bg-image="{{ quote.scene }}"></div>

        </div>

        <div layout="horizontal" layout-align="end">
            <div ng-if="session.isAuthenticated()"
                 bd-like="quote"
                 bd-like-type="quotes"></div>
        </div>

    </md-card>

    <md-card layout="vertical" layout-align="start">

        <div layout="horizontal">
            <label flex-lg="15"
                   flex-md="15"
                   flex-sm="25">contributor:</label>
            <span flex
                  ng-bind="quote.contributor.username"></span>
        </div>

        <div layout="horizontal">
            <label flex="15">view count:</label>
            <span flex
                  ng-bind="quote.viewCount"></span>
        </div>

        <div layout="horizontal">
            <label flex="15">like count:</label>
            <span flex
                  ng-bind="quote.likeCount"></span>
        </div>

        <div layout="horizontal">
            <label flex="15">create at:</label>
            <span flex
                  ng-bind="quote.createdAt"></span>
        </div>

    </md-card>
</div>
