<div
    layout="row"
    layout-align="center"
    ng-controller="QuoteListCtrl">

    <div
        layout="row"
        layout-align="space-between"
        flex="80"
        flex-sm="100"
        layout-wrap
        infinite-scroll="getObjects()"
        infinite-scroll-disabled="q.isQuerying || q.noMoreData"
        infinite-scroll-distance='1'
        infinite-scroll-container="'#content-body-wrapper'">

        <div layout="column" layout-fill>

            <md-card ng-repeat="object in objects">

                <md-card-content ng-click="goToQuoteDetailPage(object._id)">
                    <div marked="object.quote"></div>
                </md-card-content>

                <md-divider></md-divider>

                <md-card-content>
                    <img ng-src="http://placehold.it/100x100" class="avatar avatar-md mg-r" ng-repeat="character in object.characters" title="{{ character.name }}">
                </md-card-content>

            </md-card>

            <div bd-tracker></div>

        </div>

    </div>

    <md-button id="fab"
               class="md-fab" aria-label="Add Quote"
               ng-href="/quotes/new?characterId={{ characterId }}"
               ng-if="session.isAuthenticated()"
               >
        <md-tooltip md-direction="left">添加语录</md-tooltip>
        <md-icon class="zmdi zmdi-plus zmdi-hc-lg"></md-icon>
    </md-button>

</div>
