<div
    layout="row"
    layout-align="center"
    ng-controller="QuoteListCtrl">
    
    <div
        layout="row" 
        layout-align="space-between"
        flex="60"
        flex-sm="100"
        layout-wrap
        infinite-scroll="getObjects()"
        infinite-scroll-disabled="q.isQuerying || q.noMoreData"
        infinite-scroll-distance='1'
        infinite-scroll-container="'#content-body-wrapper'">
        
        <div layout="column" layout-fill>

            <md-card class="quote-wrapper"
                     ng-repeat="object in objects">

                <div class="quote" ng-click="goToQuoteDetailPage(object._id)">
                    <div marked="object.quote"></div>
                </div>

                <md-divider></md-divider>

                <md-card-content>
                    <img ng-src="http://placehold.it/100x100" class="face" ng-repeat="character in object.characters" title="{{ character.name }}">
                </md-card-content>

            </md-card>

            <div bd-tracker></div>

        </div>

    </div>


</div>
