<div>
    <div class="list-partial border-top">
        编辑语录
    </div>

    <form class="list-main-wrapper"
          role="form"
          name="quoteEditForm"
          novalidate
          ng-submit="submit()">

        <input class="input-control"
               id="characterId"
               name="characterId"
               type="hidden"
               required
               ng-model="quote.characterId"
               bd-auto-complete="id" />

        <input class="input-control"
               id="characterName"
               name="characterName"
               type="text"
               ng-model="quote.characterName"
               ng-keydown="keydownSelect($event)"
               required
               bd-search
               bd-search-type="character"
               bd-select-searching
               bd-auto-complete="name"
               placeholder="请输入语录所属角色名称或别名" />

        <ul class="list-results-wrapper"
            ng-show="isListShow">
            <li class="list-result"
                ng-repeat="result in results"
                ng-bind="result.name"
                ng-click="clickSelect(result)"
                object-id="{{ result._id }}"></li>
        </ul>

        <input class="input-control margin-top-L"
               id="reference"
               name="reference"
               type="text"
               ng-model="quote.reference"
               placeholder="请输入语录出处，动画第几话，漫画第几话等等" />

        <textarea class="input-control margin-top-L"
                  id="quote"
                  name="quote"
                  type="text"
                  ng-model="quote.quote"
                  required
                  placeholder="请输入语录详细信息"></textarea>

        <button class="btn margin-top-L"
                type="submit"
                ng-disabled="!quoteEditForm.$valid">提交</button>

    </form>
</div>
