<div layout="vertical"
     flex-lg="60"
     flex-md="80"
     offset-lg="20"
     offset-md="10"
     offset-sm="0">

    <material-card layout="vertical">

        <form role="form"
              name="quoteEditForm"
              novalidate
              ng-submit="submit()">

            <h3>编辑语录</h3>

            <material-input-group class="material-input-group-theme-light" layout="horizontal">

                <p flex="30">语录所属角色</p>

                <div class="material-input-with-addon left-addon" flex="70">

                    <p class="left-addon">q</p>

                    <material-input type="hidden"
                                    name="characterId"
                                    id="characterId"
                                    ng-model="quote.characterId"
                                    bd-auto-complete="id"></material-input>
                    
                    <material-input type="text"
                                    name="characterName"
                                    id="characterName"
                                    ng-model="quote.characterName"
                                    ng-keydown="keydownSelect($event)"
                                    required
                                    layout-fill
                                    bd-search
                                    bd-search-type="character"
                                    bd-select-searching
                                    bd-auto-complete="name"
                                    placeholder="请输入语录所属角色名字或别名"></material-input>

                    <material-list class="material-list-dropdown"
                                   layout-fill
                                   table
                                   ng-show="isListShow">

                        <material-item ng-repeat="result in results | limitTo: 3">
                            <div class="material-tile-content"
                                 ng-click="clickSelect(result)"
                                 object-id="{{ result._id }}">
                                <p ng-bind="result.name"></p>
                            </div>
                        </material-item>

                    </material-list>

                </div>

            </material-input-group>

            <material-input-group class="material-input-group-theme-light"
                                  layout="horizontal">

                <p flex="30">语录出处</p>

                <material-input type="text" 
                                name="reference"
                                id="reference"
                                ng-model="quote.reference"    
                                required
                                flex="70"
                                inline-block
                                placeholder="请输入语录出处"></material-input>

            </material-input-group>


            <material-input-group class="material-input-group-theme-light" 
                                  layout="horizontal">

                <p flex="30">语录详细信息</p>

                <textarea type="text"
                          name="quote"
                          id="quote"
                          ng-model="quote.quote"
                          required
                          flex="70"
                          inline-block
                          placeholder="请输入语录详细信息"></textarea>

<!--                 <material-input type="text"
                                name="quote"
                                id="quote"
                                ng-model="quote.quote"
                                required
                                flex="70"
                                inline-block
                                placeholder="请输入语录详细信息"></material-input>

 -->            </material-input-group>

                     <material-input-group class="material-input-group-theme-light" layout="horizontal">

                        <p flex="30">语录场景</p>

                        <div class="margin-top-15"
                             bd-upload
                             upload-type="quoteScene"
                             upload-target="quote.scene"
                             upload-status="uploadStatus">

                            <img class="scene scene-medium cursor"
                                 ng-src="{{ quote.scene }}">

                            <input class="hidden"
                                   type="file"
                                   name="scene"
                                   id="scene"
                                   ng-model="quote.scene"/>
                        </div>

                    </material-input-group>


            <div layout="horizontal" layout-align="end">
                <material-button type="submit">提交</material-button>
            </div>

        </form>

    </material-card>

</div>
