<div layout="vertical"
     flex-lg="60"
     flex-md="80"
     offset-lg="20"
     offset-md="10"
     offset-sm="0">

    <md-card layout="vertical">

        <form role="form"
              name="quoteEditForm"
              novalidate
              ng-submit="submit()">

            <h3>编辑语录</h3>

            <md-input-group class="md-input-group-theme-light" layout="horizontal">

                <p flex="30">语录所属角色</p>

                <div class="md-input-with-addon left-addon" flex="70">

                    <p class="left-addon">q</p>

                    <md-input type="hidden"
                              name="characterId"
                              id="characterId"
                              ng-model="quote.characterId"
                              bd-auto-complete="id"></md-input>
                    
                    <md-input type="text"
                              name="characterName"
                              id="characterName"
                              ng-model="quote.characterName"
                              ng-keydown="keydownSelect($event)"
                              required
                              layout-fill
                              bd-search
                              bd-search-type="character"
                              bd-select-searching
                              bd-auto-complete="name"
                              placeholder="请输入语录所属角色名字或别名"></md-input>

                    <md-list class="md-list-dropdown"
                             layout-fill
                             table
                             ng-show="isListShow">

                        <md-item ng-repeat="result in results | limitTo: 3">
                            <div class="md-tile-content"
                                 ng-click="clickSelect(result)"
                                 object-id="{{ result._id }}">
                                <p ng-bind="result.name"></p>
                            </div>
                        </md-item>

                    </md-list>

                </div>

            </md-input-group>

            <md-input-group class="md-input-group-theme-light"
                                  layout="horizontal">

                <p flex="30">语录出处</p>

                <md-input type="text" 
                          name="reference"
                          id="reference"
                          ng-model="quote.reference"    
                          required
                          flex="70"
                          inline-block
                          placeholder="请输入语录出处"></md-input>

            </md-input-group>


            <md-input-group class="md-input-group-theme-light" 
                                  layout="horizontal">

                <p flex="30">语录详细信息</p>

                <textarea type="text"
                          name="quote"
                          id="quote"
                          ng-model="quote.quote"
                          required
                          flex="70"
                          inline-block
                          placeholder="请输入语录详细信息"></textarea>

<!--                 <md-input type="text"
                                name="quote"
                                id="quote"
                                ng-model="quote.quote"
                                required
                                flex="70"
                                inline-block
                                placeholder="请输入语录详细信息"></md-input>

 -->            </md-input-group>

                     <md-input-group class="md-input-group-theme-light" layout="horizontal">

                        <p flex="30">语录场景</p>

                        <div class="margin-top-15 scene scene-medium cursor border-common"
                             bd-upload
                             upload-type="quoteScene"
                             upload-target="quote.scene"
                             upload-status="uploadStatus">

                            <div bd-bg-image="{{ quote.scene }}"></div>

                            <input class="hidden"
                                   type="file"
                                   name="scene"
                                   id="scene"
                                   ng-model="quote.scene"/>
                        </div>

                    </md-input-group>


            <div layout="horizontal" layout-align="end">
                <md-button ng-disabled="uploadStatus !== 'ready'" type="submit">提交</md-button>
            </div>

        </form>

    </md-card>

</div>
